*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header setting */

.siteNav{
    padding: 5px; /*t r b l  */
    width: 100%;
    background-color: black;
    text-align: center;
}
/* Header settings */
.siteHeader{
    width:100%;
    height:450px;
    background-image:url("../assets/colors.jpg");
    background-size: cover;
    /* background: position  -1100px; */
    /* background-color: rgb(156, 227, 227); */
   
    color:rgb(211, 198, 181)
}
.siteNav > a{
    padding: 5px /* t r b l */;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    
    text-decoration: none;   
}
.siteNav >a:hover{
    color:bisque
}
/* End of header settings */

/* Main settings */
.siteMain{
    width: 100%;
    height: 2000px;
    }
.section1{
    
}
.section2{
    
}
.section3{
    
}
.section4{
    width: 80%;
    height: 2000px;
    margin: auto;
}

.sectionCommon{
    width: 100%;
    margin: 30px auto;
    /* margin:30px; */

    /* margin: 30px 20px 10px 40px; */
    height: 150px;
    padding: 50px;

}
section{
    background-color: rgb(224, 183, 183);
    box-shadow: 1px 1px 2px red;
}
section:nth-child(even){
    background-color: rgba(201, 152, 152, 0.186)
}



/* End of main settings */

/* form settings */
.contactForm{
    border: 2px solid black;
    text-align: center;
    margin:50px;
    padding:40px;

}
.contactForm{
    

}


.contactForm > input [type='text'], textarea{
    width: 80%;
    font-size: 25px;
    margin: 15px;
}
/* end of form settings */

/* Footer settings */
.siteFooter{
    width: 100%;
    height: 200px;
    text-align: center;
    bottom: 0;
    background-color: bisque;
    color: rgb(45, 35, 35);
    position:relative;
    padding-top: 15px;
}
.social{
    margin: 20px;
   
}
.social > a{
    font-size: 20px;
    margin: 20px;
    padding: 45px;
    padding-top: 20px;
    color:#4848a0;
}